g4f==0.2.0.4
setuptools
wheel
requests
moviepy
termcolor
flask
flask-cors
playsound
Pillow==9.5.0
python-dotenv
srt_equalizer
platformdirs
undetected_chromedriver
assemblyai
brotli
google-api-python-client 
oauth2client